<template>
    <div class="report-filter">
        <table>
            <tr v-for="(item, code) in formElements">
                <td>{{ item.title }}:</td>
                <td>
                    <component :is="item.component" 
                        v-bind="item.props"
                        v-on="item.listeners"
                    />
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import { onMounted, ref, reactive, computed, watch, isRef, isReactive, toRef, toRaw } from 'vue';
// import Dropdown from './ui/dropdown.vue'

export default {
    props: {
        setResultTo: { type: Object }, // Объект результата
        formElements: { type: Object, default: {}}
    },
    emits: [],
    setup(props, context) {
        const calendarValue = ref();
        for (const [code, item] of Object.entries(props.formElements)) {
            item.code = code;
            if(!('listeners' in item)){
                item.listeners = {};
            }
            // copying existing listener to callback it
            const thatFunc = ('update:modelValue' in item.listeners) ? ((func) => {
                // return function(){
                    return func;
                // }
            })(item.listeners['update:modelValue']) : () => {}

            item.listeners['update:modelValue'] = function(payload) {
                // console.log('[updated]: ', payload)
                thatFunc(payload);
                let saveTo = toRaw(props.setResultTo)[item.code];
                updateGracefully(isRef(saveTo) ? saveTo : props.setResultTo[item.code], payload);
            }
        }

        function updateGracefully(mixedRef, newValue){
            if(isRef(mixedRef)){
                mixedRef.value = newValue;
            }else if(isReactive(mixedRef) || mixedRef instanceof Object || mixedRef instanceof Array){
                mixedRef.splice(0);
                for(let i in newValue){
                    mixedRef.push(newValue[i]);
                }
            } else {
                console.warn('updating model as static value, potential error may be here', newValue);
                mixedRef = newValue;
            }
        }

        return {
            // setRepsonsible,
            filter: props.setResultTo,
            formElements: props.formElements,
            updateGracefully,
            calendarValue
        }
    },
    // components: {'dropdown': Dropdown}
}
</script>

<style scoped>
div.report-filter{
    display:inline-block;
}
.p-calendar{
    width:100%;
}
</style>