<template>
    <ul>
        <li v-for="item in info">
            <b>{{ item.title }}:</b>
            {{ item.desc }}
        </li>
    </ul>
</template>

<script>
// import { ref, watch, toRef, isReactive } from "vue";
export default {
    props: {
        info: {type: Array, default: []}
    },
    setup(props, context) {
        return {
            info: props.info
        }
    }
}
</script>

<style>
ul, li {
    list-style-type:none;
    margin:0;
    padding:0;
}
ul {
    display:inline-block;
    vertical-align:top;
    margin: 0 10px;
}
</style>
