<template>
    <ul class="pagination">
        <li v-for="(item, key) in items" :class="{'active': item.active}">
            <a href="#" @click.prevent="clickListener(item)">{{ item.caption }}</a>
        </li>
    </ul>
</template>

<script>
import { onMounted, ref, reactive, computed } from "vue";
export default {
    props: ['data'],
    emits: ['paginate'],
    setup(props, context) {
        const captions = {
            superprev: '<<',
            prev: '<',
            next: '>',
            supernext: '>>',
            middle: '...'
        };

        const item = {
            page: 0,
            caption: '',
            active: false,
            clickable: true
        };

        // max number of neighbors to the left or righ from the current page
        const neighborhoodRadius = 2;

        // const items = reactive([]);

        const items = computed(() => {
            let items = [];
            let neighborhood = [];

            if(props.data.total <= 0){
                return items;
            }

            for(
                let pageNum = Math.max(props.data.current_page - neighborhoodRadius, 1);
                pageNum <= Math.min(props.data.current_page + neighborhoodRadius, props.data.last_page);
                pageNum++
            ){
                neighborhood.push({...item, page: pageNum, caption: pageNum, active: pageNum == props.data.current_page});
            }

            // leading items:
            if(neighborhood[0].page <= 4){
                for(let pageNum = 1; pageNum < neighborhood[0].page; pageNum++){
                    items.push({...item, page: pageNum, caption: pageNum});
                }
            }else{
                // first page
                items.push({...item, page: 1, caption: captions.superprev});
                // prev page
                items.push({...item, page: Math.max(props.data.current_page - 1, 1), caption: captions.prev});
                // left middle page
                items.push({...item, page: Math.round(props.data.current_page/2), caption: captions.middle});
            }

            // console.log('leading items: ', items);
            items = [...items, ...neighborhood];
            // console.log('merged items: ', items);

            let maxNeighbor = neighborhood[neighborhood.length - 1].page;
            if((props.data.last_page - maxNeighbor) <= 4){
                // show all trailing pages
                for(let pageNum = maxNeighbor + 1; pageNum <= props.data.last_page; pageNum++){
                    items.push({...item, page: pageNum, caption: pageNum});
                }
            }else{
                // right middle page
                items.push({...item, page: Math.round((props.data.last_page + maxNeighbor)/2), caption: captions.middle});
                // next page
                items.push({...item, page: Math.min(props.data.current_page + 1, props.data.last_page), caption: captions.next});
                // last page
                items.push({...item, page: props.data.last_page, caption: captions.supernext});
            }
            return items;
        });

        function clickListener(item){
            context.emit('paginate', item.page);
        }

        return {
            'data': props.data,
            clickListener,
            items
        }
    }
}
</script>

<style scoped>
ul.pagination, .pagination li{
    margin:0;
    padding:0;
}
.pagination li{
    display:inline-block;
    /* margin-right:; */
    /* border: 1px solid black; */
    border-right: 1px solid #cdcdcd;
}
.pagination li:last-child{
    border-right:none;
}

.pagination a{
    display:inline-block;
    background:white;
    padding: 5px 10px;
}

.pagination li.active a{
    background: #dedede;
    color:#5c6470;
}
</style>