<template>
    <div class="container">
        <a :href="downloadUri" class="download" @mousedown="download" target="_blank">
            <img src="/local/modules/webformat.reportsdk/front/images/excel-icon.png"/>
        </a>
        <filter-view :setResultTo="filter" :form-elements="formElements" />
        <legend-view :info="legend"></legend-view>
        <div class="controls">
            <button @click.prevent="doRequest(filter, sort)" class="accept">Построить отчёт</button>
        </div>
        <table-view :rows="rows" :columns="columns" :sums="sums"
            :pagination="pagination" :is-pending="isPending"
            @paginate="paginateTable" @resort="resortTable"
        />
        <div class="charts">
            <div v-for="(chart, index) in charts" :style="chart.styles" data-test="1">
                <!--<div class="title">{{ chart.title }}</div>-->
                <div>
                    <component :is="chart.type" v-bind="chart" :key="chart.hash"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive, ref, isRef, toRef, onMounted, isReactive } from "vue";
import Filter from './dynamic-filter.vue'
import Table from './table.vue'
import Legend from './legend.vue'
import Funnel from '../charts/funnel.vue'
import { http } from 'webformat-jse';
// import md5 from 'md5';

export default {
    props: {
        formElements: { type: Object, default: {} },
        title: {type: String, default: 'Отчёт'},
        sort: {type: String, default: 'ID1'},
        refreshEndpoint: {type: String},
        downloadEndpoint: {type: String, default: '#'},
        legend: {type: Array, default: []}
    },
    setup(props, context) {
        document.getElementById('pagetitle').innerText = props.title;
        window.top.document.title = props.title;

        const rows = reactive([]);
        const columns = reactive([]);
        const sums = reactive({});
        const sumsCache = {};
        let isPending = ref(true);
        let charts = ref([]);
        let pagination = reactive({});
        let sort = ('sort' in props) ? props.sort : 'ID1';
        let downloadUri = ref('');

        const defaultValues = {};
        for (const [code, item] of Object.entries(props.formElements)) {
            if(item.value.default instanceof Object || item.value.default instanceof Array){
                defaultValues[code] = item.value.default;
            }else{
                defaultValues[code] = ref(item.value.default);
            }
        }
        const filter = reactive(defaultValues);
        for (const [code, item] of Object.entries(props.formElements)) {
            props.formElements[code].props.modelValue = isRef(defaultValues[code]) ? toRef(filter, code) : filter[code];
        }

        function doRequest(filter = {}, sort = 'ID1', pageNum = 1) {
            // console.log('[report] filter before: ', filter);
            let targetQueryString = getQueryString(filter, sort, pageNum);
            // console.log('[report] targetQueryString: ', targetQueryString);
            isPending.value = true;

            http.get(location.origin + targetQueryString, {}).then(response => {
                rows.splice(0);
                for (const [index, row] of Object.entries(response.items)) {
                    rows.push(row);
                }
                columns.splice(0);
                for (const [index, column] of Object.entries(response.columns)) {
                    columns.push(column);
                }
                for (const [key, value] of Object.entries(response.pagination)) {
                    pagination[key] = value;
                }

                let correctedSums = response.sums;
                if(response.sums && ('.getfrom' in response.sums) && response.sums['.getfrom'].length){
                    console.log('filter: ', filter);
                    console.log('sumsCache: ', sumsCache);
                    targetQueryString = getQueryString(filter, 'ID1', 1, false, response.sums['.getfrom']);
                    // let cacheKey = md5(targetQueryString);
                    let cacheKey = targetQueryString;
                    // console.log('targetQueryString + cache key: ', targetQueryString, cacheKey);
                    if(cacheKey in sumsCache){
                        correctedSums = sumsCache[cacheKey];
                    }else{
                        http.get(targetQueryString, {}).then(response => {
                            console.log('corrected sums response: ', response);
                            if(response !== null){
                                sumsCache[cacheKey] = response;
                                for (const [key, value] of Object.entries(response)) { sums[key] = value; }
                            }
                        });
                    }
                }
                if(('charts' in response) && response.charts.length){
                    charts.value = response.charts;
                }else{
                    charts.value.splice(0);
                }
                if(correctedSums){
                    for (const [key, value] of Object.entries(correctedSums)) {
                        sums[key] = value;
                    }
                }
            }).finally(() => {isPending.value = false});
        }

        function download(){
            downloadUri.value = getQueryString(filter, sort, 0, true);
            // console.log('[report] downloadUri (download): ', downloadUri.value);
        }

        function paginateTable(pageNumber) {
            doRequest(filter, sort, pageNumber);
        }

        function resortTable(multisort){
            if(!multisort.length){
                sort = 'id1';
            }else{
                let parts = [];
                for( const [index, item] of Object.entries(multisort)){
                    parts.push(item.name + (+item.order));
                }
                sort = parts.join(',');
            }
            doRequest(filter, sort, 1);
        }

        function postprocess(filter){
            let result = {};
            for (let [code, value] of Object.entries(filter)) {
                // value = JSON.parse(JSON.stringify(value)); // break link
                if('postprocess' in props.formElements[code].value){
                    for (const [index, postprocessor] of Object.entries(props.formElements[code].value.postprocess)) {
                        if(typeof postprocessor === 'function'){
                            value = postprocessor(value, postprocessors);
                        }else if(postprocessor in postprocessors){
                            value = postprocessors[postprocessor](value, code);
                        }else{
                            console.warn('Posprocessor "' + postprocessor + '" not found! Existent postprocessors: ', postprocessors);
                        }
                    }
                }
                result[code] = value;
            }
            // return result;
            return JSON.parse(JSON.stringify(result));
        }

        function getQueryString(filter, sort, pageNumber, downloadMode = false, endpoint){
            let httpQuery = {
                'filter': postprocess(filter),
                sort,
                'page': pageNumber
            };
            if(downloadMode){
                httpQuery['sessid'] = window.BX_CSRF;
            }
            // console.log('[report] httpQuery: ', httpQuery);

            if (('responsible' in httpQuery.filter) && (httpQuery.filter.responsible.length <= 0)) {
                httpQuery.filter.responsible = null;
            }
            endpoint = (typeof endpoint === 'undefined') ? props[downloadMode ? 'downloadEndpoint' : 'refreshEndpoint'] : endpoint;
            return endpoint + '&' + window.qs.stringify(httpQuery, { encode: false });
        }

        const postprocessors = {
            dateStringify(value){
                if(value === 'undefined' || value === null){
                    return null;
                }else if(value instanceof Date){
                    return new Date(value.getTime() - (value.getTimezoneOffset() * 60000)).toISOString().slice(0, 10);
                }else if(value instanceof Array){
                    let result = {};
                    if(typeof value[0] !== 'undefined' && value[0] !== null){
                        result.from = postprocessors.dateStringify(value[0]);
                    }
                    if(typeof value[1] !== 'undefined' && value[1] !== null){
                        result.to = postprocessors.dateStringify(value[1]);
                    }
                    return result;
                }
                return value;
            },
            saveToLocalStorage(value, code) {
                localStorage.setItem(code, JSON.stringify(value));
                return value;
            }
        }

        onMounted(() => {
            doRequest(filter, sort);
        });

        return {
            formElements: props.formElements,
            legend: props.legend,
            filter, sort,
            rows, columns, sums,
            pagination, isPending,
            paginateTable, resortTable,
            doRequest, download,
            downloadUri,
            charts
        };
    },
    components: {
        'filter-view': Filter,
        'table-view': Table,
        'funnel': Funnel,
        'legend-view': Legend
    }
};
</script>

<style scoped>
.container{
    min-height:400px;
}
.controls{
    margin: 20px 0;
}
button{
    cursor:pointer;
    position:relative;
    outline: none;
}
button.accept{
    background-color: rgb(18, 177, 227);
    border: 1px solid rgb(18, 177, 227);
    border-radius:2px;
    color:white;
    padding: 0 20px 0 44px;
    font:12px/37px "OpenSans-Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    transition: 160ms background-color linear, 160ms color linear, 160ms opacity linear, 160ms border-color linear;
}
button.accept:hover{
    background-color: rgb(62, 221, 255);
    border-color: rgb(62, 221, 255);
}
button.accept:active{
    background-color:rgb(59, 200, 245);
}

button.accept:after{
    position: absolute;
    top: 50%;
    left: 12px;
    display: block;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: no-repeat center;
    background-image: url(/bitrix/js/ui/buttons/icons/images/ui-search-white.svg?v=1.1);
    content: '';
    transition: 160ms color linear, 160ms opacity linear, 160ms background-color linear;
}
a.download{
    float:right;
}
a.download img{
    max-width:100px;
}

.charts{
    margin-top:30px;
    text-align:left;
}
.charts .title{
    margin-bottom:10px;
    font-size:24px;
    font-weight:bold;
}
.charts > div{
    margin-bottom:30px
}
</style>