<template>
    <div class="report-table main-grid-container">
        <pagination :data="pagination" v-if="'total' in pagination" @paginate="paginateTo" />
        <table class="main-grid-table">
            <thead class="main-grid-header">
                <tr class="main-grid-row-head">
                    <th v-for="column in activeColumns"
                        :data-type="column.type"
                        class="main-grid-cell-head main-grid-cell-center"
                        title="Удерживайте клавишу SHIFT для сортировки по нескольким колонкам одновременно"
                    >
                        <span class="main-grid-head-title">
                            <sort-item :name="column.code"
                                :sort-group="sortGroup"
                                @updateSortGroup="resort"
                                :title="column.title"
                                :key="column.code"
                            />
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in rows"
                    class="main-grid-row main-grid-row-body"
                >
                    <td v-for="column in activeColumns"
                        class="main-grid-cell"
                        :class="{'number': 'type' in column && column.type == 'num'}"
                    >
                        <span v-if="!column.component" class="main-grid-cell-content" v-html="row[column.code].view">
                        </span>
                        <component v-else :is="column.component" :value="row[column.code].value" :key="row[column.code].value"/>
                    </td>
                </tr>
            </tbody>
            <tfoot v-if="Object.keys(sums).length">
                <tr class="main-grid-row-footer sums">
                    <td :colspan="activeColumns.length" class="main-grid-cell">
                        <span class="main-grid-cell-content">Итого:</span>
                    </td>
                </tr>
                <tr class="main-grid-row-footer">
                    <td v-for="column in activeColumns"
                        class="main-grid-cell"
                        :class="{'number': 'type' in column && column.type == 'num'}"
                    >
                        <span class="main-grid-cell-content" v-html="column.code in sums ? sums[column.code].view : ''">
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
        <pagination :data="pagination" v-if="'total' in pagination" @paginate="paginateTo" />
        <div class="preloader loading" :style="preloaderVars" v-show="isPending">
        </div>
    </div>
</template>

<script>
import { onMounted, ref, reactive, computed, watch } from "vue";
import Pagination from './pagination.vue'
import SortItem from './sort-item.vue'

export default {
    //props: ['rows', 'columns', 'pagination', 'isPending'],
    props: {
        rows: {type: Array, default: []},
        columns: {type: Array, default: []},
        sums: {type: Object, default: {}},
        pagination: {type: Object, default: {current_page: 1, last_page:0, per_page:20, total: 0}},
        isPending: {type: Boolean, defaul: false}
    },
    emits: ['paginate', 'resort'],
    setup(props, context) {
        const sortGroup = reactive([]);
        // const sortGroup = [];
        const activeColumns = computed(() => {
            return props.columns.filter(column => column.display);
        });
        const isPending = computed(() => {
            return props.isPending;
        });
        // const sums = reactive(props.sums);
        const sums = computed(() => {
            let sums = {};
            // for (const columnCode of props.sums) {
            for (const [columnCode, v] of Object.entries(props.sums)) {
                sums[columnCode] = {
                    value: v,
                    view: v.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1&nbsp;').replace('.', ','),
                }
            }
            return sums;
        });
        const rows = computed(() => {
            let rows = [];
            for (const row of props.rows) {
                for (const column of activeColumns.value) {
                    if('tpl' in column){
                        row[column.code] = column.tpl.replace(/{{\s*(\S+)\s*}}/ig, (match, propCode) => {
                            return row[propCode];
                        });
                    }
					
                    row[column.code] = {
                        value: row[column.code],
                        view: ('type' in column && column.type == 'num') ?
							(row[column.code] === null ? 0 :
								row[column.code].toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1&nbsp;').replace('.', ','))
								: row[column.code]
                    }
                    /* if('type' in column && column.type == 'num'){
                        row.view = row[column.code].toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ');
                    }else{
                        row.view = row[column.code];
                    } */
                }
                rows.push(row);
            }
            return rows;
        });
        const preloaderVars = computed(() => {
            return {
                '--size': Math.max(rows.value.length * 5 + 10, 10) + 'px'
            }
        });

        /* watch(sortGroup, (newValue, prevValue) => {
            console.log('[table] new sort group: ', newValue);
        }); */

        function paginateTo(pageNumber){
            context.emit('paginate', pageNumber);
        }

        function resort(multisort){
            context.emit('resort', multisort);
        }

        return {
            rows,
            'columns': props.columns,
            activeColumns,
            'pagination': props.pagination,
            paginateTo,
            preloaderVars,
            isPending,
            sortGroup,
            resort,
            sums
        }
    },
    components: {'pagination': Pagination, 'sortItem': SortItem}
}
</script>


<style scoped>
@import "https://cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/1.1.1/load5.css";
.report-table{
    position:relative;
}
.preloader{
    background:gray;
    opacity:0.5;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.loading:before {
    font-size: var(--size);
}
.report-table .main-grid-cell.number{
    text-align:right;
}
.sums td *{
    font-weight:bold;
    font-size:16px;
}
</style>