<template>
    <button :theme="button.theme()" :disabled="button.disabled()" :class="[{
        loading: button.preloading()
    }, ...button.modifiers()]">
        <slot v-if="slotIsFilled"/>
        <span v-else>{{ button.title() }}</span>
    </button>
</template>

<script>
import { computed, watch, reactive, isReactive } from 'vue';

export default {
    props: {
        button: { type: Object, default: null },
        title: { type: String, default: null },
        theme: { type: String, default: null },
        preloading: { type: Boolean, default: null },
        disabled: { type: Boolean, default: null },
    },
    setup(props, context) {
        let slotIsFilled = 'default' in context.slots;
        // const theme = props.theme in themes ? themes[props.theme] : themes.minimal;
        // const disabled = isRef(props.disabled) ? props.disabled : ref(props.disabled);
        if(props.button !== null && !isReactive(props.button)){
            console.error('[bxButton] Property "button" should be a reactive object!');
            return false;
        }
        const button = (props.button === null) ? reactive(new BxButtonClass()) : props.button

        if(props.title !== null){
            button.title(props.title);
        }
        if(props.theme !== null){
            button.theme(props.theme);
        }
        if(props.disabled !== null){
            button.disabled(props.disabled);
        }
        if(props.preloading !== null){
            button.preloading(props.preloading);
        }

        return {
            // title: props.title,
            button,
            slotIsFilled,
            // disabled,
            // theme
        };
    },
};


export class BxButtonClass{
    _title = 'OK';
    _theme = 'minimal'; //[mimimal, disabled, green]
    _disabled = false;
    _preloading = false;
    _lastTheme = 'minimal';
    _modifiers = [];

    constructor(){

    }

    title(title){
        if(typeof title === 'undefined'){
            return this._title;
        }
        this._title = title;
        return this;
    }

    theme(theme){
        if(typeof theme === 'undefined'){
            return this._theme;
        }
        this._theme = theme;
        this._lastTheme = theme;
        return this;
    }

    disabled(disabled){
        if(typeof disabled === 'undefined'){
            return this._disabled;
        }
        this._disabled = disabled;
        if(disabled){
            this._lastTheme = this._theme;
            this._theme = 'disabled';
        }else{
            this._theme = this._lastTheme;
        }
        return this;
    }

    preloading(preloading){
        if(typeof preloading === 'undefined'){
            return this._preloading;
        }
        this._preloading = preloading;
        return this;
    }

    modifiers(modifiers){
        if(typeof modifiers === 'undefined'){
            return this._modifiers;
        }
        if(Array.isArray(modifiers)){
            this._modifiers = modifiers;
        }
    }
}
</script>

<style>
@import "https://cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/1.1.1/load5.css";
</style>

<style scoped>
button {
    --height: 34px;
    display:inline-flex;

    position: relative;
    place-content: center;
    place-items: center;
    width: fit-content;
    /* border-radius: 99px; */
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    white-space: nowrap;
    /* font-weight: 700; */
    outline: none;
    background: #fff;
    transition: all 0.22s;

    color: rgb(83, 92, 105);
    border-radius: 2px;
    font-size: 12px;
    border: 1px solid gray;
    padding: 0 20px;

    height: var(--height);
    line-height: var(--height);

    font-weight:bold;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* green */
button[theme=green]{
    background: rgb(187, 237, 33);
    border-color: rgb(187, 237, 33);
    color: rgb(83, 92, 105);
}
button[theme=green]:hover{
    background: rgb(210, 249, 95);
    border-color: rgb(210, 249, 95);
}
button[theme=green]:active {
    background: rgb(178, 226, 50);
    border-color: rgb(178, 226, 50);
}

/* blue */
button[theme=blue]{
    background: #3bc8f5;
    border-color: #3bc8f5;
    color: #fff;
}
button[theme=blue]:hover{
    background: #3eddff;
    border-color: #3eddff;
}
button[theme=blue]:active {
    background: #12b1e3;
    border-color: #12b1e3;
}

/* disabled */
button[theme=disabled]{
    background: rgb(207, 212, 216);
    border-color: rgb(198, 205, 211);

    cursor: not-allowed;
}

button:disabled {
    cursor: not-allowed;
    opacity: 1;
    background: #eee;
    border-color: #ddd;
    color: #999;
}
button:disabled:hover{
    background:#e7e7e7;
    border-color: #bbb;
}

/* button:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
} */

button.primary {
    background: #42b983;
    color: #fff;
}

button.danger {
    background: #e53935;
    color: #fff;
    border-color: #e53935;
}

button.warning {
    background: #c25205;
    color: #fff;
    border-color: #c25205;
}

button.loading, button.loading:disabled{
    color:transparent;
}
button.loading:before{
    font-size:3px;
}
button.plus{
    /* background:pink!important; */
}
button.plus:before{
    display:inline-block;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0v4h4v2H6v4H4V5.999L0 6V4l4-.001V0h2z' fill='%23535C69' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
    /* background:pink!important; */
    width:12px;
    height:12px;
    content:'';
    margin-right:6px;
}
</style>
