<template>
    <div class="dropdown" v-click-outside="()=>{auditoriumIsVisible = false}" :class="[skin + '-skin', theme + '-theme']">
        <div class="stage">
            <div v-for="item in selected" class="selected-item" @click="removeFromSelected(item, $event, 'I') + toggleAuditoriumIfNeeded()"
                v-html="item[itemViewKey] + '<i class=\'close\'></i>'">
            </div>
            <div class="desk"
                @keyup="filter"
                @click="toggleAuditoriumIfNeeded()"
            >
                <input type="text" v-model="needle"
                    @focus="(skin != 'dropdown') && (auditoriumIsVisible = true)"
                    :placeholder="selected.length ? placeholder : placeholderIfEmpty"
                    autocomplete="nope"
                />
                <div class="loading" v-if="isPending"></div>
            </div>
            <div v-show="skin == 'dropdown'" class="toggler" @click="auditoriumIsVisible = !auditoriumIsVisible" :class="{folded: auditoriumIsVisible}">&nbsp;</div>
        </div>
        <div class="auditorium" v-show="auditoriumIsVisible && auditorium.length">
            <div v-for="item in auditorium" @click="toggleItemListener(item)" :class="{
                'selected': ('selected' in item) && item.selected
            }" v-html="item[itemViewKey]">
            </div>
        </div>
    </div>
</template>

<script>
import { ref, reactive, computed, watch, isRef, isReactive } from "vue";
import http from '../../src/http.js';

export default {
    props: {
        modelValue: {type: Array, default: []},
        refreshEndpoint: {type: String, default: ''},
        items: {type: Array, default: null},
        serverSideSearch: {type: Boolean, defaul: false},
        identifyItemBy: {type: String, default: 'ID'}, // Ключ, по которому эл-ты могут считаться уникальными
        resultFromKey: {type: String, default: 'ID'}, // Ключ эл-та, из которого брать его значение
        additionFilter: {type: Object, default: {}}, // Дополнительные данные для отбора эл-тов в серверном запросе
        valueTemplate: {type: String, default: '{{ value }}'},
        placeholder: {type: String, default: ''},
        placeholderIfEmpty: {type: String, default: ''},
        beforeHaystackUpdate: {type: Function, default: (haystack) => haystack},
        skin: {type: String, default: 'classic'}, // classic | dropdown
        theme: {type: String, default: 'light'},
        multiple: {type: Boolean, default: true}
    },
    emits: ['update:modelValue'],
    setup(props, context) {
        const haystack = reactive([]);
        const selected = reactive([]);
        const itemViewKey = Symbol('item_view_key');
        const isPending = ref(false);
        let needle = ref('');
        let auditoriumIsVisible = ref(false);

        // we should to change list of selected values if modelValue externally changed
        if(!props.serverSideSearch && (isRef(props.modelValue) || isReactive(props.modelValue))){
            watch(props.modelValue, (toBeSelected, prevValue) => {
                syncSelectedToModelValue(toBeSelected);
            });
        }

        function syncSelectedToModelValue(toBeSelected){
            let toBeUnselectedIndices = [];
            let presentedResultsAlready = [];

            // we should save only the items are existed in the haystack
            const toBeSelectedFiltered = _.filter(toBeSelected, uniqueValue => _.findIndex(haystack, [props.resultFromKey, uniqueValue]) >= 0);
            for (const [index, item] of Object.entries(selected)) {
                if(toBeSelectedFiltered.indexOf(item[props.resultFromKey]) >= 0){
                    // item is selected already
                    presentedResultsAlready.push(item[props.resultFromKey]);
                    item.selected = true; // just in case
                }else{
                    // we should remove this item from selected
                    item.selected = false;
                    toBeUnselectedIndices.push(index);
                }
            }

            // remove non-actual elements gracefully (saving vue-ref)
            for (let i = toBeUnselectedIndices.length - 1; i >= 0; i--){
                selected.splice(toBeUnselectedIndices[i], 1);
            }
            // and then we will add new values
            for (const [index, item] of Object.entries(haystack)) {
                let itemValue = item[props.resultFromKey];
                if(
                    (toBeSelectedFiltered.indexOf(itemValue) >= 0) &&
                    (presentedResultsAlready.indexOf(itemValue) < 0)
                ){
                    item.selected = true;
                    selected.push(item);
                }
            }
        }

        if(props.serverSideSearch){
            watch(needle, (needle, prevNeedle) => {
                getServerResults(needle);
            });
        }

        function loadItemsToHaystack(items){
            for (const [index, item] of Object.entries(items)) {
                haystack.push(postprocessItem(Object.assign({}, item)));
            }
            syncSelectedToModelValue(props.modelValue);
        }

        if(props.items !== null){
            /* if(!isReactive(props.items) && !isRef(props.items)){
                console.warn('[dropdown] Items property is not a reactive object! Auditorium auto-syncing will be off, ', props.items);
            } */
            loadItemsToHaystack(props.items);
            if(isReactive(props.items)){
                watch(props.items, (newValue, prevValue) => {
                    haystack.splice(0);
                    loadItemsToHaystack(newValue);
                });
            }
        }else if(!props.serverSideSearch){
            // load full result list initially
            getServerResults('', () => {syncSelectedToModelValue(props.modelValue)});
        }

        if(isReactive(props.additionFilter)){
            watch(props.additionFilter, (filter) => {
                getServerResults('', () => {syncSelectedToModelValue(props.modelValue)});
            });
        }

        const auditorium = computed(() => {
            let result = [];
            let needleRegexp = new RegExp(needle.value,"i");
            if(needle.value.length <= 0 || props.serverSideSearch){
                return haystack;
            }
            for (const [index, item] of Object.entries(haystack)) {
                if(item[itemViewKey].match(needleRegexp)){
                    result.push(item);
                }
            }
            return result;
        });

        function filter(e){
            //needle.value = e.target.innerText;
            // e.target.innerText = '';
        }

        function toggleItemListener(item){
            item.selected = ('selected' in item) ? !item.selected : true;
            if(item.selected){
                if(!props.multiple){
                    cleanSelected();
                }
                addToSelected(item);
            }else{
                removeFromSelected(item);
            }
            if(!props.multiple){
                auditoriumIsVisible.value = false;
            }
        }

        function addToSelected(item){
            let shouldBeSelected = true;
            for(let i in selected){
                if(selected[i][props.identifyItemBy] == item[props.identifyItemBy]){
                    shouldBeSelected = false;
                    break;
                }
            }
            if(shouldBeSelected){
                selected.push(item);
                needle.value = '';
                context.emit('update:modelValue', parseResultValue(selected));
            }
        }

        function removeFromSelected(item, e, acceptedTagName){
            if(typeof acceptedTagName !== 'undefined' && typeof e !== 'undefined' && e.target.tagName != acceptedTagName){
                return false;
            }
            for(let i in selected){
                if(selected[i][props.identifyItemBy] == item[props.identifyItemBy]){
                    selected[i].selected = false;
                    selected.splice(i, 1);
                    context.emit('update:modelValue', parseResultValue(selected));
                    return;
                }
            }
        }

        function cleanSelected(){
            for(let i in selected){
                selected[i].selected = false;
            }
            selected.splice(0);
        }

        function getServerResults(searchString, callback){
            searchString = searchString.trim();
            if(props.serverSideSearch && searchString.length <= 2){
                haystack.splice(0);
                return;
            }

            isPending.value = true;
            http.get(props.refreshEndpoint, {
                'filter': {
                    'needle': searchString,
                    ...props.additionFilter
                }
            }).then(payload => {
                haystack.splice(0);
                payload.items = props.beforeHaystackUpdate(payload.items);
                for (const [index, item] of Object.entries(payload.items)) {
                    item = postprocessItem(item);
                    haystack.push(item);
                }
                if (typeof callback !== 'undefined' && callback !== null) {
                    callback();
                }
            }).catch(response => {
                console.warn('[dropdown] This buggy situation #T8gs96ei4n should be treated correctly! ', response);
            }).finally(() => {
                isPending.value = false
            });

            /* http.getJson(endpoint, response => {
                haystack.splice(0);
                response.items = props.beforeHaystackUpdate(response.items);
                for (const [index, item] of Object.entries(response.items)) {
                    item = postprocessItem(item);
                    haystack.push(item);
                }
                if (typeof callback !== 'undefined' && callback !== null) {
                    callback();
                }
            }, null, () => {isPending.value = false}); */
        }

        function postprocessItem(item){
            item[itemViewKey] = props.valueTemplate
                .replace(/\{\{\s*(\S+)\s*\}\}/ig, (match, propCode) => item[propCode])
                .replace(/\s+/g, '&nbsp;');
            return item;
        }

        function parseResultValue(selectedItems){
            let tmpResult = [];
            for (const [index, item] of Object.entries(selectedItems)) {
                tmpResult.push(item[props.resultFromKey]);
            }
            return tmpResult;
        }

        function toggleAuditoriumIfNeeded(){
            if(props.skin != 'dropdown'){
                return false;
            }
            if(props.multiple){
                return false;
            }
            auditoriumIsVisible.value = !auditoriumIsVisible.value;
        }

        return {
            auditoriumIsVisible,
            auditorium,
            filter,
            toggleItemListener,
            removeFromSelected,
            toggleAuditoriumIfNeeded,
            needle,
            selected,
            itemViewKey,
            isPending,
            'placeholder': props.placeholder,
            skin: props.skin,
            theme: props.theme
        }
    },
    components: {}
}
</script>

<style scoped>
@import "https://cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/1.1.1/load5.css";

.dropdown{
    position:relative;
}
.stage{
    min-width:300px;
    max-width:400px;
    min-height:33px;
    border: 1px solid rgba(83,92,105,.2);

    font:15px/30px "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline:none;
    padding:2px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}
.dropdown-skin .stage{
    min-width:auto;
    padding-right:0;
    flex-wrap: nowrap;
}
.desk{
    position:relative;
    min-width:50px;
    outline:none;
    flex-grow:999;
}
.dropdown-skin .desk{
    min-width:0;
}
.dropdown-skin .desk:nth-child(n+2){
    display:none;
}


.desk *[type=text]{
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
}
.desk .loading{
    top:50%;
    right:8px;
    position:absolute;
}
.desk .loading:before{
    font-size:3px;
    /*left:auto;
    right: 18px;*/
}
.selected-item{
    position: relative;
    padding: 0 30px 0 13px;
    margin: 0 3px 3px 0;
    height: 30px;
    border-radius: 2px;
    background: #bcedfc;
    vertical-align: middle;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
    z-index: 2;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    flex-grow:1;
}

.auditorium{
    overflow-y: scroll;
    max-height: 200px;
    box-shadow: 0 6px 21px 0 rgb(0 0 0 / 15%);
    font: 14px/33px "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding:10px;
    width: 100%;
    box-sizing: border-box;

    position: absolute;
    z-index: 3;
    background: white;
}
.dropdown-skin .auditorium{
    min-width:100%;
    width:auto;
}

.auditorium > *{
    position:relative;
    padding-left:28px;
}
.auditorium > *:hover{
    background: #f3f6f8;
    cursor: pointer;
}

.auditorium > *:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 4px;
    height: 15px;
    width: 18px;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Crect%20width%3D%2213%22%20height%3D%2213%22%20x%3D%22.5%22%20y%3D%22.5%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23C6CDD3%22%20rx%3D%222%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.auditorium > *.selected:before {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2215%22%20viewBox%3D%220%200%2017%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2213%22%20height%3D%2213%22%20x%3D%22.5%22%20y%3D%221.125%22%20fill%3D%22%23FFF%22%20stroke%3D%22%23259EC6%22%20rx%3D%222%22/%3E%3Cpath%20fill%3D%22%23259EC6%22%20d%3D%22M7.53%208.487l-3.775-3.6-1.25%201.368%204.94%205.01.075-.074.286.335%208.694-10.4L15.094%200%207.53%208.487z%22/%3E%3C/g%3E%3C/svg%3E);
    background-position: 2px 0;
}

.dropdown-skin.dark-theme{
    background: rgba(255, 255, 255, 0.3);
    border:1px solid rgb(198, 205, 211);
    max-width:300px;
}

.dropdown-skin.dark-theme .stage{
    max-width:none;
}
.dropdown-skin.dark-theme .stage input{
    caret-color:transparent;
    background: transparent;
    cursor:pointer;
    color:white;
}
.dropdown-skin.dark-theme .stage input::placeholder{
    color:white;
}

.dropdown-skin.dark-theme .selected-item{
    flex-grow:999;
    flex-shrink:1;
}
.dropdown-skin .desk{
    flex-grow:1;
    flex-shrink:999;
}
.dropdown-skin .selected-item{
    background:none;
    margin:0;
    padding:0;
    cursor:pointer;
}

.dropdown-skin.dark-theme .selected-item{
    color:white;
}

.toggler{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M13.667.151L9.14 4.678 7.999 5.801 6.88 4.678 2.353.151.756 1.748 8.01 9.003l7.254-7.255z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
    width:30px;
    height:30px;

    cursor:pointer;
}
.toggler:hover{
    transform: scale(1.5)
}
.toggler.folded{
    transform: rotate(180deg);
}
.toggler.folded:hover{
    transform: rotate(180deg) scale(1.5);
}

</style>

<style>
.dropdown-skin .selected-item .close{
    display:none;
}
.dropdown .selected-item .close{
    content:'';
    position: absolute;
    top: 7px;
    right: 4px;
    width:15px;
    height:15px;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.065%203.682L2.377.994%201.01%202.362%203.696%205.05.99%207.757l1.368%201.37%202.708-2.71%202.7%202.703%201.37-1.368-2.702-2.7%202.682-2.684L7.748%201%205.065%203.682z%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: .3;
    cursor: pointer;
}
.dropdown .selected-item:hover .close{
    opacity:1;
}
</style>