<template>
    <div class="prfixed-input">
        <button class="prefix" @click="togglePrefix(selectedPrefix)">
            {{ selectedPrefix.view }}
        </button>
        <input :type="type" :value="value" @keyup="propagateValue($event)"/>
    </div>
</template>


<script>
import { toRef, computed, watch, ref, isRef } from 'vue';

export default {
    props: {
        prefixes: { type: Array },
        glue: { type: String, default: '' },
        modelValue: { type: Object, default: ref('') },
        type: { type: String, default: 'text' }
    },
    setup(props, context) {
        if(!isRef(props.modelValue)){
            console.warn('Model value of prefixed input should be a ref, ' + (typeof props.modelValue) + ' given. Model binding will work wrong.');
        }

        const selectedPrefix = computed(() => {
            for(const [index, prefix] of Object.entries(props.prefixes)){
                if(
                    prefix.value.length <=props.modelValue.value.length &&
                    prefix.value == props.modelValue.value.substring(0, prefix.value.length)
                ){
                    return prefix;
                }
            }
            return props.prefixes[0];
        });

        const value = computed(() => {
            for(const [index, prefix] of Object.entries(props.prefixes)){
                if(
                    prefix.value.length <=props.modelValue.value.length &&
                    prefix.value == props.modelValue.value.substring(0, prefix.value.length)
                ){
                    // console.log('this case!', props.modelValue.value, prefix.value.length, props.modelValue.value.substring(prefix.value.length));
                    return props.modelValue.value.substring(prefix.value.length)
                }
            }
            return props.modelValue.value;
        });

        function togglePrefix(selectedPrefix){
            let nextIndex = 0;
            for(const [index, prefix] of Object.entries(props.prefixes)){
                if(prefix.value == selectedPrefix.value){
                    // nextIndex++;
                    nextIndex = (++index >= props.prefixes.length) ? 0 : index;
                    break;
                }
            }
            context.emit('update:modelValue', props.prefixes[nextIndex].value + props.glue + props.modelValue.value.substring(selectedPrefix.value.length));
        }

        function propagateValue(e){
            context.emit('update:modelValue', selectedPrefix.value.value + props.glue + e.target.value);
        }

        return {
            selectedPrefix, value,
            type: props.type,
            togglePrefix, propagateValue
        }
    }
}
</script>

<style scoped>
.prfixed-input {
    width:100%;
    min-height: 33px;
    border: 1px solid rgba(83,92,105,.2);
    font: 15px/30px "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: none;
    padding:0;

    display: flex;
    flex-direction: row;
}
.prfixed-input > *{
    flex-grow: 1;
}
.prfixed-input button{
    border:0;
    margin:0;
    padding:0;
    background:#cccbcb;
    width:30px;
    cursor:pointer;
    font-size:22px;
}
.prfixed-input input{
    outline: none;
    padding: 2px 10px;
    flex-grow: 999;
    border:0;
    margin:0;
}

</style>