<template>
    <div @click.prevent="clickListener($event)" class="item-sort">
        <slot></slot>
        <i :class="{'asc': order === true, 'desc': order === false}"></i>
    </div>
</template>

<script>
import { ref, watch, toRef, isReactive } from "vue";
export default {
    props: {
        modelValue: {type: Boolean, default: null},
        name: {type: String, default: 'field'},
        sortGroup: {type: Array, default: []}
    },
    emits: ['update:modelValue', 'updateSortGroup'],
    setup(props, context) {
        let order = ref(
            ('modelValue' in props && props.modelValue !== null) ? !!props.modelValue : null
        );
        if(order.value !== null){
            props.sortGroup.push({'name': props.name, 'order': order.value});
        }

        if(isReactive(props.sortGroup)){
            watch(props.sortGroup, (newValue, oldValue) => {
                let inGroup = false;
                for (const [index, item] of Object.entries(newValue)) {
                    if(item.name == props.name){
                        inGroup = true;
                        order.value = item.order;
                        break;
                    }
                }
                if(!inGroup){
                    order.value = null;
                }
            });
        }else{
            console.warn('[sort-item] Sort group is not reactive, so multisort cases will work wrong');
        }

        function clickListener(e){
            order.value = (order.value === null) ? true : !order.value;
            let newSortItem = {'name': props.name, 'order': order.value};

            if(e.shiftKey){
                // remove non-actual elements gracefully (saving vue-ref)
                let toBeRemoved = [];
                let installed = false;
                for (const [index, item] of Object.entries(props.sortGroup)) {
                    if(item.name == props.name){
                        props.sortGroup[index].order = order.value;
                        installed = true;
                    }
                    if(item.order === null){
                        toBeRemoved.push(index);
                    }
                }
                for (let i = toBeRemoved.length - 1; i >= 0; i--){
                    props.sortGroup.splice(toBeRemoved[i], 1);
                }
                if(!installed){
                    props.sortGroup.push(newSortItem);
                }
            }else{
                props.sortGroup.splice(0);
                props.sortGroup.push(newSortItem);
            }
            context.emit('update:modelValue', order.value);
            context.emit('updateSortGroup', props.sortGroup);
        }

        return { clickListener, order }
    }
}
</script>

<style scoped>
i{
    position:relative;
    display:inline-block;
    vertical-align:middle;

    background: url(/bitrix/components/bitrix/main.ui.grid/templates/.default/images/sprite-interface.min.svg) 3px -291px;
    transform: rotate(180deg);
    /*
    position: relative;
    top: 0;
    left: -18px;
    display: inline-block;
    */
    width: 14px;
    height: 10px;

    visibility:hidden;
}
.item-sort:hover i, i.asc, i.desc{
    visibility:visible;
}
i.desc{
    transform: rotate(0);
    top:-2px;
}
</style>