<template>
    <select v-model="selectedYear" class="year-picker">
        <option v-for="year in availableYears" :value="year">{{ year }}</option>
    </select>
</template>


<script>
import { isRef, ref, computed } from 'vue';

export default {
    props: {
        modelValue: { type: Object, default: ref((new Date()).getFullYear()) },
        range: {
            type: String,
            default: ((new Date()).getFullYear() - 5) + ':' + ((new Date()).getFullYear() + 5)
        }
    },
    setup(props, context) {
        if(!isRef(props.modelValue)){
            console.warn('Model value of year picker should be a ref, ' + (typeof props.modelValue) + ' given. Model binding will work wrong.');
        }
        const availableYears = computed(() => {
            let result = [];
            let range = props.range.split(':');
            for(let y = parseInt(range[0]); y <= parseInt(range[1]); y++){
                result.push(y);
            }
            return result;
        });

        return {
            availableYears,
            selectedYear: props.modelValue
        }
    }
}
</script>

<style scoped>
.year-picker{
    width: 100%;
    min-height: 33px;
    border: 1px solid rgba(83,92,105,.2);
    font: 15px/30px "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: none;
    padding: 2px 10px;
}
</style>