<template>
    <slot v-if="counter.get('visibility')"></slot>
    <span v-if="!slotIsFilled && counter.get('visibility')">
        {{ counter.get('prefix') }} <b>{{ counter.pointer() }}</b> {{ counter.get('postfix') }}
    </span>
</template>

<script>
import { reactive, isReactive } from 'vue';

export default {
    props: {
        // start: { type: Number, default: 5000 }, //milliseconds
        // finish: { type: Number, default: 0 }, //milliseconds
        // interval: { type: Number, default: 1000 }, //milliseconds
        // term: { type: Number, default: -1000 }, // value to be added each interval time

        counter: { type: Object, default: null }
    },
    emits: ['timeIsUp'],
    setup(props, context){
        let slotIsFilled = 'default' in context.slots;
        if(props.counter !== null && !isReactive(props.counter)){
            console.error('[count down] Property "counter" should be a reactive object!');
            return false;
        }
        const counter = (props.counter === null) ? reactive(new CountDownClass()) : props.counter
        counter.set('context', context);

        return {
            slotIsFilled, counter
            // prefix: (props.prefix + '').length > 0 ? (props.prefix + ' ') : ''
        }
    }
}

export class CountDownClass{
    _start = 5000;
    _finish = 0;
    _interval = 1000;
    _term = -1000;
    _pointer;
    _visibility = false;
    _prefix = '';
    _postfix = '';
    _context;

    constructor(){
        this._pointer = this._start;
    }

    set(param, value){
        this['_' + param] = value;
        if(param == 'start'){
            this._pointer = value;
        }
    }

    get(param){
        return this['_' + param];
    }

    activate(){
        console.log('activated!');
        this._pointer = this._start;
        let timerId = setInterval(() => {
            this._pointer += this._term;
            if(
                ((this._term < 0) && (this._pointer <= this._finish))
                ||
                ((this._term > 0) && (this._pointer >= this._finish))
            ){
                console.log('interval stopped!', this);
                clearInterval(timerId);
                this._context.emit('timeIsUp');
                this._visibility = false;
            }
        }, this._interval);
        return this;
    }


    pointer(){
        return Math.round(this._pointer / 1000 * 10) / 10;
    }

    show(){ this._visibility = true; return this; }
    hide(){ this._visibility = false; return this; }
}
</script>

<style scoped>
b{
    font-size:30px;
    vertical-align:-15%;
    border: 1px solid black;
    border-radius: 32px;
    padding: 0 12px 3px 12px;
}
</style>
