<template>
    <img :src="imageSource" :height="params.height"/>
</template>

<script>
// import { ref } from "vue";
// import { http } from 'webformat-jse';

export default {
    props: {
        type: {type: String, default: 'funnel'},
        hash: {type: String, default: ''},
        title: {type: String, default: ''},
        controller: {type: String, default: ''},
        params: {type: Object, default: {}},
        items: {type: Array, default: []},
        aftertext: {type: Object, default: {}}
    },
    setup(props, context) {
        console.log('[funnel] props: ', props);
        console.log('[funnel] items: ', props.items);
        let rand = Math.floor(Math.random() * 1000);
        let httpQuery = {
            title: props.title,
            params: props.params,
            items: props.items,
            aftertext: props.aftertext,
            sessid: window.BX_CSRF
        };
        let imageSource = props.controller + '&' + window.qs.stringify(httpQuery, { encode: false });
        console.log('[funnel] imageSource: ', imageSource);
        /* http.post(props.controller, {
            title: props.title,
            params: props.params,
            items: props.items,
        }).then(payload => {
            console.log('received data: ', payload);
            // counter.activate().show();
        }).catch(repsonse => {
            console.log('AJAX catched ERROR');
        }).finally(() => {
            console.log('finally ajax acitons');
        }); */

        return {
            imageSource,
            params: props.params
        }
    }
}

</script>
